@import "reset.css" screen;

@font-face {
   font-family: ALSEkibastuzBold;
   src: url('../fonts/ALS%20Ekibastuz%20Bold.ttf');
}

@font-face {
   font-family: ALSEkibastuzRegular;
   src: url('../fonts/ALS%20Ekibastuz%20Regular.otf');
}

@font-face {
   font-family: ALSEkibastuzLight;
   src: url('../fonts/ALS%20Ekibastuz%20Light.ttf');
}

@font-face {
   font-family: ALSEkibastuzHeavy;
   src: url('../fonts/ALS%20Ekibastuz%20Heavy.ttf');
}

*{
   font-family: ALSEkibastuzRegular;
}

body{
   background: #e8ebef;
}

.w1160{
   margin: 0 auto;
   width: 1024px;
   position: relative;
   border-left: 1px solid #ffffff;
   border-right: 1px solid #ffffff;
}

.main .w1160{
   border: none;
}

.w1078{
   margin: 0 auto;
   width: 960px;
   position: relative;
}

.w1043{
   margin: 0 auto;
   width: 925px;
}

.head{
   height: 114px;
   background: #222328;
}

.fixed-head {
   background: #222328;
   position: fixed;
   width: 100%;
   z-index: 10;
   height: 62px;
}



.fixed-head:after{
   content: " ";
   position: relative;
   width: 100%;
   height: 62px;
}

.eng-rus{
   position: absolute;
   right: 0;
   width: 41px;
   height: 41px;
   background: #505156;
   color: #888a8e;
   opacity: 1;
   cursor: pointer;
   font-family: ALSEkibastuzRegular;
   font-size: 12px;
   line-height: 41px;
   text-align: center;
   margin-right: -32px;
}

.eng-rus:hover{
   opacity: 0.8;
   background: #e8ebef;
}

.in-head{
   padding-top: 20px;
   margin-left: -32px;
}

.logo{
   background: url('../img/logo.png');
   width: 150px;
   height: 21px;
   cursor: pointer;
   float: left;
   margin-right: 30px;
}

.top-menu{
   float: left;
   height: 21px;
   line-height: 21px;
   font-family: ALSEkibastuzBold;
   font-size: 12px;
   text-transform: uppercase;
}

.top-menu a{
   text-decoration: none;
   color: #ffffff;
   margin-right: 10px;
   position: relative;
}

.top-menu a.active{
   color: #60626e;
}

.top-menu a.active.has-submenu:after{
   content: " ";
   background: url('../img/active-menu.png') no-repeat;
   width: 18px;
   height: 9px;
   position: absolute;
   margin-top: 85px;
   margin-left: -9px;
   left: 50%;
}

.top-menu a:hover{
   color: #3965af;
}

.search{
   float: right;
   margin-top: -1px;
   margin-right: 30px;
}

.search-input{
   background: url('../img/ss.png') no-repeat scroll 100% 0;
   width: 94px;
   height: 18px;
   border: none;
   outline: none;
   color: #ffffff;
   border-bottom: 1px solid #ffffff;
   opacity: 0.3;
   padding-right: 20px;
}


.map{
   padding-bottom: 20px;
}

.clear{
   clear: both;
}

.news-head-block{
   margin: -52px auto 0;
}

.col1{
   width: 388px;
   float: left;
   background: #ffffff;
   padding: 36px 0 26px 0;
   text-align: center;
}

.col2{
   width: 390px;
   float: left;
}

.col2 > img{
   width: 100%;
}

.col3{
   width: 246px;
   float: left;
   background: #ffffff url('../img/ico-kal.png') no-repeat scroll 200px 20px;
}

.title-main-news{
   font-family: ALSEkibastuzBold;
   font-size: 34px;
   line-height: 42px;
   color: #000000;
   text-align: left;
   margin: 0 30px;
   text-transform: uppercase;
}

.title-main-news:before{
   content: "«";
   font-family: ALSEkibastuzBold;
   font-size: 34px;
   line-height: 42px;
   color: #000000;
   position: absolute;
   margin-left: -20px;
}

.button{
   padding: 0 40px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   background: #884198;
   cursor: pointer;
   line-height: 36px;
   font-family: ALSEkibastuzBold;
   font-size: 14px;
   display: inline-block;
   text-transform: uppercase;
}



.text-main-news{
   text-align: left;
   margin: 20px 30px 15px 30px;
   font-size: 15px;
   line-height: 21px;

}

.button.invert:hover{
   background: #884198;
   opacity: 0.5;
}

.button:hover{
   background: #3965af;
}


.button a{
   color: #ffffff;
   text-decoration: none;
}

.col1 .button{
   margin: 0 auto;
}


.news-sl{
   background: #3965af;
   position: relative;
   height: 167px;
}

.news-sl-switch{
   width: 82px;
   height: 41px;
   float: right;
   position: relative;
   z-index: 3;
}

.one-sw{
   float: left;
   width: 41px;
   height: 41px;
   line-height: 41px;
   text-align: center;
   cursor: pointer;
   vertical-align: middle;
   background: #ffffff;
}

.one-sw img{
   vertical-align: middle;
   display: inline;
}

.one-sw:hover{
   background: #e8ebef;
}

.news-content{
   height: 147px;
   margin-top: -21px;
   position: absolute;
   overflow: hidden;
   width: 425px;
}

.date-block{
   height: 147px;
   float: left;
   background: #ffffff;
   width: 87px;
   text-align: center;
   font-family: ALSEkibastuzBold;
}

.news-text{
   width: 338px;
   float: left;
   height: 147px;
}

.day{
   color: #222328;
   font-size: 39px;
   padding-top: 45px;
   padding-bottom: 8px;
}

.month, .year{
   color: #222328;
   font-size: 13px;
   line-height: 16px;
}

.title-news{
   font-family: ALSEkibastuzBold;
   color: #ffffff;
   font-size: 21px;
   line-height: 23px;
   padding: 30px 20px 0 20px;
}

.text-news-in-sl{
   font-family: ALSEkibastuzRegular;
   color: #ffffff;
   font-size: 13px;
   line-height: 19px;
   padding: 0 20px 0 20px;
}

.title-cal{
   font-family: ALSEkibastuzBold;
   color: #000000;
   font-size: 18px;
   line-height: 24px;
   padding: 35px 65px 25px 20px;
   text-transform: uppercase;
}

.head-cal{
   height: 70px;
   background: #3965af;
}

.days-m{
   margin-bottom: 1px;
   opacity: 0;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.days-m.active{
   opacity: 1;
}

.days-cal{
   width: 246px;
   height: 175px;
   position: relative;

}

.one-day{
   width: 34px;
   height: 34px;
   border: 1px solid #ffffff;
   margin-right: -1px;
   margin-bottom: -1px;
   float: left;
   text-align: center;
   line-height: 34px;
   background: #d2d8e1;
   color: #222328;
   font-family: ALSEkibastuzBold;
   font-size: 13px;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;

}

.one-day span{
   opacity: 0.51;
}

.one-day.active{
   background:  #3965af url('../img/small-star.png') no-repeat 23px 4px;
   color: #ffffff;
   cursor: pointer;
}

.one-day.active:hover{
   background:  #884198 url('../img/small-star.png') no-repeat 23px 4px;
}

.one-day.active span{
   opacity: 1;
}

.one-day.dis{
   color: #ffffff;
}


.one-full-info-day{
   padding: 20px;
   width: 450px;
   background: #ffffff;
   height: 196px;
   position: absolute;
   z-index: 100500;
   display: none;
   box-shadow: #e8ebef 0 0 3px;
   text-align: left;
}


.block-scroll{
   position: absolute;
   width: 40px;
   height: 196px;
   right: 0;
   z-index: 100502;
}

.info-scroll{
   height: 153px;
   overflow: hidden;
   position: relative;
   margin-top: 12px;
   padding-right: 30px;
}

.title-day{
   font-size: 13px;
   color: #3965af;
   font-family: ALSEkibastuzHeavy;

}

.link-in-day{
   font-family: ALSEkibastuzBold;
   font-size: 15px;
   line-height: 26px;
   color: #000000;
}

.link-in-day a{
   color: #000000;
}

.link-in-day a:hover{
   color: #3965af;
}

.text-in-day{
   color: #9b9b9d;
   font-family: ALSEkibastuzRegular;
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 25px;
}

.text-in-day b{
   font-family: ALSEkibastuzHeavy;
   color: #000000;
}

.prev-m{
   background: url('../img/prev-m.png') no-repeat;
   width: 12px;
   height: 21px;
   cursor: pointer;
   position: absolute;
   margin: 12px 0 0 9px;
   z-index: 3;
}

.prev-m:hover{
   opacity: 0.6;
}

.next-m{
   background: url('../img/next-m.png') no-repeat;
   width: 12px;
   height: 21px;
   cursor: pointer;
   position: absolute;
   margin: 12px 0 0 226px;
   z-index: 3;
}

.next-m:hover{
   opacity: 0.6;
}

.title-m{
   width: 204px;
   position: absolute;
   margin: 12px 0 0 21px;
   text-align: center;
   line-height: 21px;
   font-family: ALSEkibastuzBold;
   font-size: 17px;
   color: #ffffff;
}

.days-week{
   padding-top: 34px;
}

.one-day.week{
   background: #3965af;
   border: 1px solid #3965af;
   color: #ffffff;
}

.one-day.week span{
   opacity: 1;
}

.type1 {
   width: 247px;
   height: 123px;
   float: left;
   background: #ffffff;
   margin-bottom: 1px;
   margin-right: 1px;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
   cursor: pointer;
}

.type1:hover {
   background: #884198;
   color: #ffffff;
   transform: scale(0.95, 0.95) ;
   -webkit-transform: scale(0.95, 0.95);
   -moz-transform: scale(0.95, 0.95);
   -o-transform: scale(0.95, 0.95);
   -ms-transform: scale(0.95, 0.95);
}

.type1:hover  a {
   color: #ffffff;
}

.text-to-center{
   vertical-align: middle;
   text-align: center;
   height: 123px;
   display: table-cell;
   width: 123px;
}

.type1 .text-to-center{
   width: 246px;
}

.type2 .text-to-center{
   text-align: left;
   padding-left: 15px;
}


.type2{
   width: 123px;
   height: 123px;
   float: left;
   background: #ffffff;
   margin-right: 1px;
   margin-bottom: 1px;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
   cursor: pointer;
}

.type2:hover {
   background: #3965af;
   color: #ffffff;
   transform: scale(0.95, 0.95);
   -webkit-transform: scale(0.95, 0.95);
   -moz-transform: scale(0.95, 0.95);
   -o-transform: scale(0.95, 0.95);
   -ms-transform: scale(0.95, 0.95);
}

.type2:hover  a {
   color: #ffffff;
}

.type3{
   width: 123px;
   height: 247px;
   float: right;
   background: #ffffff;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
   cursor: pointer;
}

.type3 .text-to-center{
   height: 247px;
}

.type3:hover {
   background: #884198;
   color: #ffffff;
   transform: scale(0.95, 0.95);
   -webkit-transform: scale(0.95, 0.95);
   -moz-transform: scale(0.95, 0.95);
   -o-transform: scale(0.95, 0.95);
   -ms-transform: scale(0.95, 0.95);
}

.type3:hover  a {
   color: #ffffff;
}

.type4{
   width: 123px;
   height: 247px;
   float: left;
   margin-right: 1px;
   background: #ffffff;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
   cursor: pointer;
}

.type4:hover {
   background: #3965af;
   color: #ffffff;
   transform: scale(0.95, 0.95);
   -webkit-transform: scale(0.95, 0.95);
   -moz-transform: scale(0.95, 0.95);
   -o-transform: scale(0.95, 0.95);
   -ms-transform: scale(0.95, 0.95);
}

.type4:hover  a {
   color: #ffffff;
}

.type4 .text-to-center{
   height: 247px;
}


.deyat{
   height: 283px;
   margin-top: 28px;
   font-family: ALSEkibastuzRegular;
   font-size: 15px;
   line-height: 20px;
   color: #454545;
}

.arenda{
   width: 248px;
   float: left;
   margin-right: 16px;
}

.deyat a{
   color: #454545;
   text-decoration: none;
}

.title-block-serv{
   font-family: ALSEkibastuzBold;
   font-size: 24px;
   line-height: 25px;
   color: #222328;
   margin-bottom: 5px;
}

.organ{
    width: 371px;
    float: left;
    margin-right: 15px;
 }


.sop{
   width: 372px;
   float: right;
   margin-right: -1px;

}

.slides-block{
   height: 732px;
   background: #222328;
   position: relative;
   margin-top: 30px;
}

.slides-block.only-bot{
   height: 188px;
}

.slides-block.only-top{
   height: 420px;
}


.sliders{
   position: absolute;
   width: 599px;
   height: 543px;

}


.slides-block.only-top .sliders{
   width: 559px;
   height: 420px;
}

.tabs{
   position: absolute;
   right: 0;
   width: 358px;
   padding: 34px 32px 0 32px;
   height: 509px;
}

.slides-block.only-top .tabs{
   height: 360px;
}


.slider{
   opacity: 0;
   position: absolute;
   width: 599px;
   height: 543px;

   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration: 0.96s; /* IE9+ */
   transition-duration: 0.96s;
}

.slides-block.only-top .slider{
   width: 600px;
   height: 420px;
}


.content-table .slides-block.only-top .slider{
   width: 562px;
}

.slider.active{
   opacity: 1;
   z-index: 3;
}

.one-switch-sl{
   width: 18px;
   height: 18px;
   /*border: 2px solid rgba(0,0,0,0);*/
   margin: 2px 8px 2px 2px;
   background: #ffffff;
   cursor: pointer;
   border-radius: 12px;

   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   display: inline-block;
}

.one-switch-sl.active{
   margin: 0 6px 0 0;
   border: 2px solid #ffffff;
   background: #3965af;
}


.switch-sl{
   margin-top: 479px;
   text-align: center;
}

.slides-block.only-top .switch-sl{
   margin-top: 350px;
}

.one-tab{
   background: #101012;
   text-align: center;
   font-family: ALSEkibastuzBold;
   font-size: 16px;
   line-height: 40px;
   padding: 0 34px;
   opacity: 0.6;
   float: left;
   color: #ffffff;
   cursor: pointer;
}

.one-tab:hover{
   opacity: 0.8;
}

.one-tab.active{
   opacity: 1;
}

.one-tab-content{
   font-family: ALSEkibastuzRegular;
   color: #ffffff;
   text-align: center;
   position: absolute;
   width: 360px;
   opacity: 0;
   display: none;
}

.slides-block.only-top .one-tab-content{
   height: 330px;
}


.slides-block.only-top .text-tab-content{
   max-height: 219px;
}

.one-tab-content.active{
   opacity: 1;
   display: block;
}

.title-tab-content{
   font-size: 25px;
   text-align: left;
   line-height: 36px;
   margin-top: 20px;
   margin-bottom: 10px;

}

.text-tab-content{
   text-align: left;
   font-size: 14px;
   line-height: 21px;
   margin-bottom: 25px;
   max-height: 350px;
   position: relative;
   overflow: auto;
   padding-right: 20px;
}

.one-tab-content .button{
   margin: 0 auto;
}

.two-news{
   position: absolute;
   width: 599px;
   top: 543px;
   height: 188px;
}

.only-bot .two-news{
   top: 0;
}

.slider-tweet{
   position: absolute;
   width: 425px;
   top: 543px;
   right: 0;
   height: 188px;
   background: #3965af;
}

.only-bot .slider-tweet{
   top: 0;
}

.footer{
   padding-top: 50px;
   background: #ffffff;
}

.title-block-two-news{
   font-family: ALSEkibastuzBold;
   font-size: 17px;
   line-height: 25px;
   text-transform: uppercase;
   color: #ffffff;
   margin: 50px 20px 0 20px;
   width: 100px;
   float: left;
}

.one-two-news{
   width: 206px;
   float: left;
   margin: 50px 20px 0 0;
   font-family: ALSEkibastuzBold;
   color: #ffffff;
}

.date-one-two-news{
   font-size: 13px;
   margin-bottom: 10px;
}

.text-one-two-news{
   font-size: 15px;
   line-height: 19px;
   min-height: 62px;
}

.link-one-two-news a{
   color: #3965af;
   font-family: ALSEkibastuzRegular;
   text-decoration: none;
   font-size: 13px;
}

.link-one-two-news a:hover{
   color: #884198;
}

.text-tweet{
   font-family: ALSEkibastuzRegular;
   line-height: 19px;
   font-size: 13px;
   color: #ffffff;
   margin-left: 32px;
   margin-top: 20px;
}

.head-tweet{
   background: url('../img/tweet.png') scroll 0 13px no-repeat;
   padding-left: 53px;
   font-family: ALSEkibastuzBold;
   color: #ffffff;
   line-height: 15px;
   margin-left: 32px;
}


.date-tweet{
   font-size: 13px;
   margin-bottom: 4px;
}

.nic-tweet{
   font-size: 18px;
   margin-bottom: 2px;
}

.dot-tweet{
   font-family: ALSEkibastuzRegular;
   color: #82d6f7;
   font-size: 13px;
}

.slider-tweet .news-text{
   width: 380px;
}

.all-service{
   width: 579px;
   float: left;
   margin-left: -12px;
}

.title-all-service{
   font-family: ALSEkibastuzBold;
   color: #222328;
   font-size: 18px;
   line-height: 22px;
   margin-bottom: 10px;
   text-transform: uppercase;
}

.links{
   color: #9aa3ac;
   font-family: ALSEkibastuzRegular;
   font-size: 14px;
   line-height: 27px;
}


.links a{
   color: #9aa3ac;
}

.links a:hover{
   color: #3965af;
}

.copy{
   margin-top: 20px;
   height: 45px;
   line-height: 45px;
   margin-right: -31px;
}

.info-company{
   width: 350px;
   float: right;
   margin-right: 12px;
}

.contact-table{
   margin-top: 20px;
}

.contact-table td{
   height: 27px;
   line-height: 27px;
   border: none;
   font-size: 13px;
   padding: 0 !important;
   color: #9aa3ac;
   font-family: ALSEkibastuzRegular;
   border-bottom: none !important;
   vertical-align: top !important;
}

.content .contact-table td{
   font-size: 15px;
}


.content .contact-table td a{
   color: #3965af;
   text-decoration: underline;
}

.content .contact-table td a:hover {
   color: #884198;
}

.content .contact-table td.caption-col{
   width: 90px;
}


.contact-table td a{
   color: #9aa3ac;
   text-decoration: none;
}

.contact-table td a:hover{
   color: #3965af;
}

.contact-table td.caption-col{
   width: 50px;
   font-family: ALSEkibastuzBold;
   color: #3965af;
}


.blue-bg .contact-table td.caption-col{
     color: #ffffff;
}

.blue-bg .contact-table td a:hover{
   color: #884198;
}

.social{
   margin-top: 20px;
   height: 31px;
}

.social img{
   display: block;
   float: left;
   width: 31px;
   cursor: pointer;
}

.social img:hover{
   opacity: 0.8;
}

.left-c{
   color: #9aa3ac;
   font-size: 14px;
   font-family: ALSEkibastuzLight;
}


.right-c{
   float: right;
   color: #9aa3ac;
   font-size: 14px;
   font-family: ALSEkibastuzLight;
}

.right-c a{
   color: #3965af;
}


.big-top-menu{
   font-family: ALSEkibastuzRegular;
   font-size: 18px;
   text-align: center;
   padding-top: 80px;
}

.big-top-menu a{
   color: #ffffff;
   text-transform: uppercase;
   margin: 0 15px;
   text-decoration: none;
   margin-top: 30px;
   position: relative;
}

.big-top-menu a:hover{
   color: #3965af;
}

.big-top-menu a.active{
   color: #60626e;

}

.posth1{
   position: absolute;
   right: 20px;
   text-align: right;
   font-size: 16px;
   line-height: 14px;
   margin-top: 33px;
   font-family: ALSEkibastuzBold;
}


.filters-block{
  /* width: 755px;*/

}

.pdf-doc{
   background: url('../img/pdf.png') no-repeat;
   padding-left: 60px;
   min-height: 50px;
   padding-top: 8px;
   margin-top: 20px;
}

.pdf-title{
   font-family: ALSEkibastuzRegular;
   font-size: 16px;
   line-height: 24px;

}

.pdf-title a{
   color: #3965af;
}

.pdf-title a:hover{
   color: #884198;
}

.pdf-w{
   color: #a9a9a9;
   font-family: ALSEkibastuzRegular;
   font-size: 13px;
   margin-top: 8px;
}

.filters-block .combobox {
   display: inline-block;
   min-width: 155px;
   height: 36px;
   line-height: 36px;
   background: #222328;
   margin-right: 10px;
}

.filters-block .combobox:hover{
   color: #ffffff;
}

.filters-block .list-combo{
   background: #222328;
}

.filters-block .combobox:after{
   content: " ";
   background: url('../img/black-combo.png');
   width: 10px;
   height: 7px;
   position: absolute;
   right: 8px;
   top: 15px;
}

.filters-block .button{
   padding: 0 20px;
   width: 135px;
   text-align: center;
   color: #ffffff;
   vertical-align: top;
}

.filters-block .button a{
   color: #ffffff;
   font-family: ALSEkibastuzBold;
}

.posth1 a{
   color: #3965af;
   font-family: ALSEkibastuzRegular;
}

.posth1 a:hover{
   color: #884198;
}

.big-top-menu a.active.has-submenu:after{
   content: " ";
   background: url('../img/active-menu.png') no-repeat;
   width: 18px;
   height: 9px;
   position: absolute;
   margin-top: 25px;
   margin-left: -9px;
   left: 50%;
}

.submenu{
   padding: 23px 20px;
   font-family: ALSEkibastuzRegular;
   color: #222328;
   font-size: 15px;
   line-height: 23px;
   background: #ffffff;
   border-bottom: 1px solid #e8ebef;
}

.submenu a{
   color: #222328;
   text-decoration: none;
   margin-right: 30px;
}

.submenu a.active{
   color: #3965af;
}

.submenu a:hover{
   color: #3965af;
}

.content-table{
   width: 1024px;
   table-layout: fixed;
   margin-bottom: 30px;
}

.content-table td{
   vertical-align: top;

}

.some-blue{
   padding: 0;
}

.some-cont{
   width: 727px;
   padding: 0 20px 40px 20px;
   background: #ffffff;

}

.content{
   padding: 0 20px 40px 20px;

}

.way-block{
   background: #ffffff;
   padding-bottom: 25px;
}

.way{
   opacity: 0.22;
   color: #000000;
   font-size: 14px;
   padding-top: 25px;

}

.way a{
   color: #000000;
}

.way a:hover{
   color: #3965af;
}


h1{
   font-family: ALSEkibastuzRegular;
   font-weight: normal;
   font-size: 43px;
   margin: 30px 0;
}

h2{
   font-family: ALSEkibastuzRegular;
   font-weight: normal;
   font-size: 32px;
   margin: 30px 0;
}


h3{
   font-family: ALSEkibastuzRegular;
   font-weight: normal;
   font-size: 25px;
   margin: 20px 0;
}

p{
   font-family: ALSEkibastuzRegular;
   font-size: 16px;
   line-height: 24px;
   margin: 10px 0 30px;
   color: #000000;

}

p.gray-p{
   margin-top: -20px;
   font-size: 14px;
   color: #a7acb4;
}

h4{
   font-family: ALSEkibastuzBold;
   font-size: 20px;
   text-transform: uppercase;
   margin: 30px 0;
}

h5{
   font-family: ALSEkibastuzBold;
   font-size: 18px;
   margin: 20px 0;
}

.double-col{
   float: left;
   width: 46%;
   margin-right: 4%;
}

.double-col.w532{
   width: 532px;
   margin-right: 29px;
}

.double-col.w420{
   width: 420px;
   margin-right: 0;
}

ol {
   padding-left: 30px;
   margin: 20px 0;
}

ol li{
   font-family: ALSEkibastuzRegular;
   font-size: 16px;
   line-height: 24px;
   color: #000000;

}

ol li ol{
   padding-left: 13px;
   margin: 0;
}

ol li span{
   font-family: ALSEkibastuzBold;
}


ul{
   margin: 20px 30px;
   font-family: ALSEkibastuzRegular;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
}

ul li{
   padding-left: 21px;
}

ul li:before{
   position: absolute;
   width: 9px;
   height: 9px;
   content: " ";
   background: #3965af;
   margin-left: -21px;
   margin-top: 8px;
}

ul li ul{
   margin-left: -4px;
   margin-top: 0;
}

.content table{
   width: 100%;
   margin: 30px 0;
}


.content td{
   padding-right: 30px;
   vertical-align: middle;
   padding-top: 12px;
   padding-bottom: 12px;
   border-bottom: 1px solid #e8ebef;
   font-family: ALSEkibastuzRegular;
   font-size: 14px;
   line-height: 24px;
}

.head-table td{
   padding-bottom: 0;
   font-family: ALSEkibastuzBold;
   font-size: 15px;
   text-transform: uppercase;
   white-space: nowrap;
   vertical-align: top;
}

.head-table td span{
   text-transform: lowercase;
}


.blue-bg{
   background: #3965af;
   padding: 50px 15px;
}

.title-in-blue{
   font-family: ALSEkibastuzBold;
   text-transform: uppercase;
   color: #ffffff;
   line-height: 24px;
   font-size: 18px;

}

.name-div{
   font-family: ALSEkibastuzBold;
   color: #ffffff;
   line-height: 23px;
   font-size: 18px;
   border-bottom: 2px solid #ffffff;
   margin-top: 20px;
   padding-bottom: 4px;
}

.dolg{
   font-family: ALSEkibastuzBold;
   color: #ffffff;
   line-height: 20px;
   font-size: 15px;
   margin-top: 5px;
}

.to-center{
   text-align: center;
   margin-top: 30px;
}

.typeBold td{
   font-family: ALSEkibastuzBold;
   font-size: 15px;
   border-top: 1px solid #e8ebef;
   padding-left: 12px;
   text-transform: uppercase;
}

.typeList td{
   padding: 6px 6px 6px 23px;
   color: #222328;
}

sup{
   position: absolute;
   margin-top: -3px;
}

b{
   font-family: ALSEkibastuzBold;
   color: #000000;
}

.one-list{
   margin: 0 -20px;
}

.one-list.active{
   background: #e8ebef;
}

.title-list{
   background: #ffffff;
   border-top: 1px solid #e8ebef;
   border-bottom: 1px solid #e8ebef;
   margin-bottom: -1px;
   height: 69px;
   line-height: 69px;
   color: #222328;
   font-family: ALSEkibastuzBold;
   font-size: 16px;
   cursor: pointer;
   position: relative;
   padding-left: 20px;
   text-transform: uppercase;
}

.title-list > a{
    color: #454545;
   text-decoration: none;
}

.title-list:hover > a{
   color: #ffffff;
}

.big-style .title-list{
   font-size: 22px;
}

.one-list.active .right-style .title-list{
   font-size: 15px;
   text-transform: none;
   font-family: ALSEkibastuzRegular;
   background: #f3f5f7;
}

.title-list:after{
   position: absolute;
   right: 30px;
   content: " ";
   background: url('../img/down.png');
   width: 30px;
   height: 16px;
   margin-top: 26px;
}

.big-style .one-list.active .title-list:after{
   background: none;
}

.one-list.active .right-style .title-list:after{
   position: absolute;
   right: 30px;
   content: " ";
   background: url('../img/to-right.png');
   width: 17px;
   height: 31px;
   margin-top: 19px;
}

.one-list.active .right-style .title-list:hover:after{
   background: url('../img/to-right-hover.png');
}

.one-list.active .right-style .title-list:hover{
   background: #3965af;
}


.title-list:hover{
   background: #e8ebef;
}

.one-list.active .title-list:after{
   background: url('../img/up.png');
}



.one-list.active .title-list{
   background: #e8ebef;
   color: #3965af;
}

.one-list .content-list{
   display: none;
   padding: 0 20px 40px;
}

.big-style .one-list .content-list{
   padding: 0 20px 0;
}

.one-list.active .content-list{
   display: block;
}


ul.line-style{
   margin: 0 20px 10px;
}


ul.line-style li:before{
   position: absolute;
   width: 9px;
   height: 9px;
   content: "-";
   background: none;
   margin-left: -12px;
   margin-top: 0px;
}

p.no-margin{
   margin-bottom: 0;
}

.form{
   margin: 50px -15px 0;
   border-top: 1px solid #e8ebef;

}

.form.small-paddings{
   margin: 15px -15px 0;
   border-top: none;
}

.form.small-paddings form{
   padding-top: 0;
}

.form.small-paddings .to-center{
   margin-top: 10px;
}

.form.white-style{
   margin: 20px 0 0;
}

.form.white-style form{
   padding: 20px 0;
}

.form form{
   padding: 35px 30px 0;
}

.form .to-center{
   margin: 30px -30px 0;
}

.title-form{
   font-family: ALSEkibastuzBold;
   font-size: 16px;
   color: #ffffff;
   margin-bottom: 25px;
   text-transform: uppercase;
}

.form.white-style .style-input{
   background: #e8ebef;
   text-align: left;
}

.style-input{
   border: none;
   height: 30px;
   line-height: 30px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-align: center;
   width: 100%;
   margin-bottom: 10px;
   padding: 0 10px;
   font-family: Arial;
   color: #b4b4b5;
   font-size: 13px;
   outline: none;
   box-sizing: border-box;
}

.style-input.with-val{
   color: #222328;
}

.search-form .style-input{
   border: 1px solid #e8ebef;
   text-align: left;
}

.form.white-style .combobox{
   background: #e8ebef;
   text-align: left;
}

table.td20{
   margin: 0;
   width: 100%;
}

table.td20 .button{
   width: 100%;
   box-sizing: border-box;
   text-align: center;
}

table.td20 td{
   padding: 0;
   vertical-align: top;
   width: 20%;
   border-bottom: none;
}

.search-form .combobox{
   border: 1px solid #e8ebef;
   margin-right: 20px;
}




.search-form .list-combo{
   border: 1px solid #e8ebef;
   margin: -1px 0 0 -11px;
}

.combobox{
   border: none;
   font-size: 13px;
   height: 30px;
   line-height: 30px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-align: center;
   padding: 0 10px;
   margin-bottom: 10px;
   font-family: Arial;
   color: #b4b4b5;
   background: #ffffff;
   cursor: pointer;
   position: relative;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.combobox:hover{
   color: #222328;
}

.combobox:hover:after{
   opacity: 0.8;
}

.combobox:after{
   content: " ";
   background: url('../img/for-combo.png');
   width: 10px;
   height: 6px;
   position: absolute;
   right: 8px;
   top: 12px;
}

.combobox.clicked{
   overflow: visible;
}

.combobox.clicked span{
   display: none;
}


.form.white-style .list-combo{
   background: #e8ebef;
   text-align: left;
}

.list-combo{
   position: absolute;
   width: 100%;
   margin: 0 -10px;
   background: #ffffff;
   border-radius: 3px;
   -moz-border-radius: 3px;
   display: none;
   -webkit-border-radius: 3px;
   z-index: 3;
}

.combobox.clicked .list-combo{
   display: block;
}

.one-val{
   padding: 0 10px;
   cursor: pointer;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.one-val:hover{
   background: #884198;
   color: #ffffff;
}

.filechoose{
   border: none;
   font-size: 13px;
   height: 30px;
   line-height: 30px;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-align: center;
   width: 100%;
   margin-bottom: 10px;
   font-family: Arial;
   color: #b4b4b5;
   background: #ffffff;
   cursor: pointer;
   position: relative;
}

.select-file{
   display: none;
}

.light-gray{
   opacity: 0.38;
   color: #ffffff;
   font-size: 11px;
   font-family: ALSEkibastuzBold;
   line-height: 13px;
}

.gray-line{
   background: #e8ebef;
   height: 1px;
   margin: 20px 0;
}

h4 ~ .gray-line{
   margin-top: -15px;
}

.blue-bg ~ .gray-line{
   margin: 0;
}

.one-rule{
   font-family: ALSEkibastuzRegular;
   font-size: 14px;
   line-height: 22px;
   color: #7c7a7a;
   margin-bottom: 25px;
}

.rules{
   height: 162px;
   overflow: auto;
}

.nicescroll-rails:before{
   position: absolute;
   width: 1px;
   height: 100%;
   background: #e8ebef;
   color: #3965af;
}

.img-centr{
   position: relative;
   height: 270px;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;

   cursor: pointer;
}

.img-centr img{
   position: absolute;
   z-index: -1;
}

.img-centr:before{
   content: " ";
   position: absolute;
   z-index: 0;
   background: #3965af;
   border: 1px solid #ffffff;
   width: 100%;
   height: 100%;
   opacity: 0.7;


   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.img-centr:hover:before{
   opacity: 0.5;
   background: #884198;
}

.img-title-c{
   padding: 44px 30px 0 50px;
   position: relative;
   cursor: pointer;
}

.some-img-title{
   text-transform: uppercase;
   font-family: ALSEkibastuzBold;
   font-size: 21px;
   color: #ffffff;
   padding-bottom: 25px;
   border-bottom: 2px solid #ffffff;
   margin-bottom: 15px;
}

.some-img-title a{
   text-decoration: none;
   color: #ffffff;
}

.text-on-img{
   text-transform: uppercase;
   font-family: ALSEkibastuzBold;
   font-size: 12px;
   color: #ffffff;
}


.one-search{
   background: url('../img/one-cal.png') no-repeat;
   width: 266px;
   height: 409px;
   padding: 22px 20px 0 25px;
   margin: 0 23px 23px 0;
   float: left;
   cursor: pointer;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.one-search-dir-active{
   position: absolute;
   border: 1px solid #e8ebef;
   width: 273px;
   height: 406px;
   padding: 22px 10px 0 25px;
   z-index: 3;
   left: 0;
   top: 1px;
   background: #ffffff;
   display: none;
}

.to-scroll{
   overflow: auto;
   height: 370px;
   margin-top: 20px;
   padding-right: 10px;
}

.close-dir{
   background: url('../img/close-gal.png') no-repeat;
   width: 26px;
   height: 25px;
   cursor: pointer;
   position: absolute;
   right: 10px;
   top: 10px;
   
}

.close-dir:hover{
   opacity: 0.8;
}

.one-search:hover{
   transform: scale(1.05, 1.05) ;
   -webkit-transform: scale(1.05, 1.05);
   -moz-transform: scale(1.05, 1.05);
   -o-transform: scale(1.05, 1.05);
   -ms-transform: scale(1.05, 1.05);


}


.title-in-cal{
   margin-top: 20px;
   height: 159px;
   padding-bottom: 10px;
   border-bottom: 2px solid #222328;
   color: #222328;
   font-size: 19px;
   line-height: 21px;
   font-family: ALSEkibastuzBold;
   vertical-align: bottom;
   display: table-cell;
}

.ruk .title-in-cal{
   height: 85px;
}

.one-search.ruk{
   padding-top: 65px;
   height: 380px;
}

.but-dir{
   background: url('../img/but-dir.png') no-repeat;
   width: 48px;
   height: 48px;
   cursor: pointer;

}

.but-dir:hover{
   opacity: 0.8;
}

.but-dir-place{
   height: 124px;

}

.place{
   font-family: ALSEkibastuzRegular;
   font-size: 14px;
   color:#9b9b9d;
   line-height: 20px;
   margin-top: 15px;
}

.search-result{
   margin-right: -20px;
   margin-top: 60px;
}

.one-head-gray-tab{
   margin: 15px 40px 20px 0;
   cursor: pointer;
   color: #222328;
   font-family: ALSEkibastuzBold;
   line-height: 22px;
   text-transform: uppercase;
   font-size: 16px;
   float: left;
   position: relative;
}

.one-head-gray-tab.active{
   color: #3965af;
}


.one-head-gray-tab.active:after{
   background: url('../img/gray-tab.png') no-repeat;
   width: 18px;
   height: 9px;
   margin-left: -9px;
   left: 50%;
   position: absolute;
   content: " ";
   margin-top: 41px;
}

.gray-tab-contents{
   margin: 0 -20px;
   padding: 50px 20px 0;
   background: #ffffff;
}

.one-gray-tab{
   display: none;
}

.one-gray-tab.active{
   display: block;
}


.for-all-news{
   margin: 0 -20px;

}

.more-news{
   margin-bottom: -40px;
   background: #222328;
   height: 48px;
   width: 767px;
   margin-left: -20px;
   text-align: center;
   padding-top: 12px;
}

table.one-news-list{
   width: 100%;
   table-layout: fixed;
   margin: 0;
}

td.td-date{
   width: 125px;
   padding: 0;
   text-align: center;
   vertical-align: middle;
   font-size: 29px;
   font-family: ALSEkibastuzBold;
   color: #222328;
   line-height: 16px;
}

.td-date span{
   font-size: 13px;
   line-height: 16px;
}

.title-news-in-list{
   font-family: ALSEkibastuzBold;
   text-transform: uppercase;
   font-size: 16px;
   margin-top: 20px;
}

.title-news-in-list a{
   color: #000000;
   text-decoration: none;
}

.title-news-in-list a:hover{
   color: #3965af;
}

.short-text-in-list{
   color: #454545;
   font-family: ALSEkibastuzRegular;
   font-size: 14px;
   line-height: 21px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.link-to-full a{
   color: #222328;
   font-family: ALSEkibastuzBold;
   opacity: 0.33;
   font-size: 12px;
   text-transform: uppercase;
   text-decoration: none;
}

.link-to-full a:hover{
   opacity: 1;
}

.link-to-full a:after{
   content: " ";
   background: url('../img/to-full.png');
   width: 6px;
   height: 9px;
   position: absolute;
   margin-left: 2px;
   margin-top: 7px;
}


.some-gray{
   font-family: ALSEkibastuzBold;
   font-size: 12px;
   line-height: 16px;
   color: #ffffff;
   margin-top: 15px;

}


.tweet-slide{
   background: #00acee;
   height: 487px;
   padding: 25px 15px 0 15px;
   position: relative;
}

.tweet-slide .head-tweet{
   padding-left: 0;
   background: none;
   margin: 0;
}

.tweet-slide .text-tweet{
   margin-left: 0;
   margin-top: 5px;
}

.tweet-slide .news-content{
   margin-top: 20px;
   width: 227px;
   height: 340px;
}

.tweet-slide .news-text{
   width: 227px;
   height: 152px;
   margin-bottom: 20px;
   overflow: hidden;
}

.tweet-slide .news-sl-switch{
   bottom: 0;
   position: absolute;
   right: 0;
}

.img-info{
   height: 285px;
   background-size: cover;
   margin: 0 -20px;
   padding: 40px 20px 0;
}

.info-text{
   margin-top: 65px;
   width: 480px;
   border-top: 2px solid #ffffff;
   text-transform: uppercase;
   color: #ffffff;
   line-height: 30px;
   font-family: ALSEkibastuzBold;
   font-size: 19px;
   padding-top: 15px;
}

.about-info b{
   text-transform: uppercase;
}

.about-info p{
   margin-bottom: 10px;
   color: #7a7a7a;
   font-size: 15px;
}

.about-info{
   margin-bottom: 30px;
}

.black-button{
   height: 52px;
   line-height: 52px;
   padding: 0 57px 0 16px;
   font-family: ALSEkibastuzBold;
   font-size: 14px;
   background: #222328;
   cursor: pointer;
   text-transform: uppercase;
   display: inline-block;
   position: relative;
}

.black-button:after{
   content: " ";
   position: absolute;
   background: url('../img/black-but.png') no-repeat;
   width: 28px;
   height: 28px;
   right: 17px;
   top: 12px;
}

.black-button:hover{
   opacity: 0.8;
}

.black-button a{
   color: #ffffff;
   text-decoration: none;
}

.fix-for-button{
   margin: 0 0 -40px -20px;
}

.button-right .black-button{
   height: 80px;
   line-height: 80px;
   display: block;
}

.button-right .black-button:after{
   top: 24px;
}

.light-blue-title{
   font-family: ALSEkibastuzBold;
   font-size: 16px;
   line-height: 21px;
   color: #ffffff;
   margin-bottom: 50px;
}

.light-blue-title a{
   color: #ffffff;
   text-decoration: none;
}

.light-blue-title a:hover{
   color: #bac5de;
}

.white-line{
   border-top: #ffffff 2px solid;

   padding-top: 12px;

}

.white-line .gray-line{
   margin: 30px -15px 40px;
   opacity: 0.8;
}

.light-blue-text{
   color: #bac5de;
   font-size: 12px;
   line-height: 16px;
   margin-bottom: 4px;
   font-family: ALSEkibastuzRegular;
}

.light-blue-text b{
   font-family: ALSEkibastuzBold;
   color: #ffffff;
}


.tabs-content{
   border-top: 1px solid #e8ebef;
   border-bottom: 1px solid #e8ebef;
   padding: 45px 20px 15px;
   position: relative;
   overflow: hidden;
}

.tabs2{
   margin: 0 -20px 40px;
}


.tabs-head{
   margin-bottom: -1px;
   overflow: hidden;
   position: relative;
   z-index: 2;
}

.one-tab2{
   display: block;
   float: left;
   padding: 0 21px;
   font-size: 15px;
   cursor: pointer;
   margin-left: -1px;
   border-top: 1px solid #e8ebef;
   border-left: 1px solid #e8ebef;
   border-right: 1px solid #e8ebef;
   color: #b3b4bb;
   background: #e8ebef;
   line-height: 40px;
   font-family: ALSEkibastuzBold;
   text-transform: uppercase;
   margin-top: 7px;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.one-tab2:hover{
   background: #3965af;
   border-color: #3965af;
   color: #ffffff;
   opacity: 0.7;

}

.one-tab2.active{
   margin-top: 0;
   opacity: 1;
   font-size: 17px;
   border-color: #e8ebef;
   color: #3965af;
   background: #ffffff;
   padding-top: 7px;
}

.tabs2-content p{
   color: #b3b4bb;
   font-size: 15px;
}

.tabs2-content{
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
   position: relative;
   top: 100%;
   left: 0;
   opacity: 0;
   display: none;
}

.tabs2-content.active{
   left: 0;
   display: block;
   top: 0;
   opacity: 1;
   position: relative;
}

.light-tooltip{
   color: #3965af;
   border-bottom: 1px dashed #3965af;
   cursor: pointer;
   margin-right: 10px;
}

.light-tooltip:hover{
   color: #884198;
   border-bottom: 1px dashed #884198;
}

.tooltip{
   position: absolute;
   z-index: 20;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
   overflow: hidden;

   transform: scale(0.0, 0.0) rotateX(180deg);
   -webkit-transform: scale(0.0, 0.0) rotateX(180deg);
   -moz-transform: scale(0.0, 0.0) rotateX(180deg);
   -o-transform: scale(0.0, 0.0) rotateX(180deg);
   -ms-transform: scale(0.0, 0.0) rotateX(180deg);
   opacity: 0;
}

.tooltip.active{
   transform: scale(1, 1) rotateX(0deg);
   -webkit-transform: scale(1, 1) rotateX(0deg);
   -moz-transform: scale(1, 1) rotateX(0deg);
   -o-transform: scale(1, 1) rotateX(0deg);
   -ms-transform: scale(1, 1) rotateX(0deg);
   opacity: 1;
}

.blue-zag{
   font-family: ALSEkibastuzBold;
   font-size: 22px;
   line-height: 32px;
   color: #3965af;
   text-transform: uppercase;
   margin: 30px 0 20px;
}

.slider-usl{
   height: 120px;
   overflow: hidden;
   position: relative;
   margin: 0 -21px -40px -20px;

}


.one-usl{
   float: left;
   margin-right: -1px;
   height: 120px;
   border-right: 1px solid #e8ebef;
   width: 25%;
   color: #454545;
   font-size: 14px;
   line-height: 20px;
   font-family: ALSEkibastuzRegular;
}

.one-usl a{
   color: #454545;
   text-decoration: none;
}


.one-usl a:hover{
   color: #3965af;
}

.slider-usl .news-sl-switch{
   position: absolute;
   right: 1px;

   bottom: 0;
}

.slider-usl .one-sw{
   background: #3965af;
}

.slider-usl .one-sw:hover{
   opacity: 0.7;
}

.centr{
   height: 98px;
   display: table-cell;
   vertical-align: middle;
   padding: 0 30px 0 20px;
}

.content-to-centr{
   text-align: center;
}

.gray-bg{
   background: #e8ebef;
   margin: 0 -20px 40px;
   padding: 0 20px 40px;
}


table.nomargin{
   margin: 0 0 -20px 0;
}


.photogallery{
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 50;
   background: rgba(0,0,0,0.95);
   display: none;
}

.close-gal{
   width: 43px;
   height: 43px;
   background: #ffffff url('../img/close-gal.png') no-repeat scroll 50% 50%;
   position: absolute;
   right: 0;
   cursor: pointer;
   z-index: 50;
}

.opengallery{
   cursor: pointer;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.opengallery:hover{
   transform: scale(1.1, 1.1);
   -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
}

.close-gal:hover{
   opacity: 0.8;
}

.previews{
   height: 108px;
   position: absolute;
   bottom: 20px;
   z-index: 5;
   cursor: pointer;

}

.one-preview{
   display: inline-block;
   margin: 0 15px;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;

   position: relative;
}

.one-preview img{
   width: 100%;
}

.one-preview:hover{
   transform: scale(1.1, 1.1);
   -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
}

.one-preview:after{
   content: " ";
   position: absolute;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;

   width: 108px;
   height: 108px;

   left: 0;
   top: 0;
}

.one-preview.active:after{
   content: " ";
   position: absolute;

   border: 7px #3965af solid;
   width: 94px;
   height: 94px;

   left: 0;
   top: 0;
}


.left-arr{
   background: url('../img/arrow-left-gal.png') no-repeat scroll 50% 50%;
   width: 120px;
   height: 100%;
   cursor: pointer;
   position: absolute;
   left: 0;
}

.left-arr:hover{
   background-color: rgba(0,0,0,0.5);
}


.right-arr{
   background: url('../img/arrow-right-gal.png') no-repeat scroll 50% 50%;
   width: 120px;
   height: 100%;
   cursor: pointer;
   position: absolute;
   right: 0;
}

.right-arr:hover{
   background-color: rgba(0,0,0,0.5);
}

.nooverflow{
   overflow: hidden;
}

.big-photo img{
   width: 100%;
   opacity: 0;
   position: absolute;
   left:0;
   top:0;
}


.big-photo{
   position: absolute;
}


.logo-table td{
   vertical-align: top;
}

.logo-table td:first-child{
   width: 210px;
}

.logo-table p{
   margin-top: 0;
}

.logo-key{
   width: 210px;
   height: 210px;
   border: 1px solid #c1c3c7;
   text-align: center;
   display: table-cell;
   vertical-align: middle;

}

.for-link{
   margin: -40px 0 -40px -20px;
}

.for-link .button{
   border-radius: 0;
   position: relative;
   padding-right: 50px;
}

.for-link .button:after{
   position: absolute;
   background: url('../img/logo-link.png') no-repeat;
   width: 24px;
   height: 24px;
   top: 5.5px;
   right: 15px;
   content: " ";
}

.preview-port{
   margin: -40px -20px 0 -22px;
   overflow: hidden;
}

.one-pp{
   padding-top: 40px;
   width: 234px;
   padding-left: 21px;
   float: left;
   border: 1px solid #e8ebef;
   margin-right: -1px;
   height: 203px;
   margin-top: -1px;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.one-pp:hover{
   transform: scale(0.9, 0.9);
   -webkit-transform: scale(0.9, 0.9);
   -moz-transform: scale(0.9, 0.9);
   -o-transform: scale(0.9, 0.9);
   -ms-transform: scale(0.9, 0.9);
}

.one-pp img{
   margin-top: 20px;
}

.title-pp{
   line-height: 24px;
   font-size: 18px;
   font-family: ALSEkibastuzBold;
   color: #000000;
   height: 106px;
   border-bottom: 2px solid #222328;
   text-transform: uppercase;
}

.title-pp a{
   color: #000000;
   text-decoration: none;
}

.title-pp a:hover{
   color: #3965af;
}

.text-pp{
   font-size: 11px;
   font-family: ALSEkibastuzBold;
   line-height: 19px;
   color: #222328;
   opacity: 0.33;
   margin-top: 10px;
   margin-bottom: 30px;
   text-transform: uppercase;
}


.big-r{
   background: url('../img/big-r.png') no-repeat;
   width: 981px;
   height: 271px;
   position: relative;
}

.big-r:after{
   content: "?";
   opacity: 0.6;
   color: #000000;
   position: absolute;
   font-family: ALSEkibastuzBold;
   font-size: 24px;
   right: 50px;
   top: 43px;
}

.tabs .tabs-content{
   border: none;
   padding: 0;
   overflow: visible;
}

.ruk:after{
   content: "?";
   opacity: 0.6;
   color: #000000;
   position: absolute;
   font-family: ALSEkibastuzBold;
   font-size: 24px;
   right: 50px;
   top: 43px;
}

.dir.ruk:after{
   content: " ";
}

.one-search.dir:hover{
   transform: none;
}

.ruk{
   position: relative;
}

.bp{
   margin: 38px 68px 0 55px;
   float: left;
}

.name-r{
   float: left;
   margin-top: 65px;
   font-family: ALSEkibastuzBold;
   font-size: 21px;
   line-height: 25px;
   text-decoration: underline;
   color: #000000;
   width: 580px;
}

.dolg-r{
   float: left;
   margin-top: 4px;
   font-family: ALSEkibastuzBold;
   font-size: 15px;
   line-height: 20px;
   color: #000000;
   width: 580px;
}

.ruk .dolg-r{
   width: auto;
   float: none;
}

.phone-r{
   float: left;
   margin-top:12px;
   font-family: ALSEkibastuzRegular;
   font-size: 14px;
   line-height: 20px;
   color: #000000;
   width: 580px;
}

.phone-r span{
   margin-right: 8px;
}

.big-r .button{
   float: left;
   margin-top: 30px;
}